[2013-09-02 12:24] nevf opened #1 "Is this a replacement for jQuery?"
Assuming I don't need jQuery's ajax, animate & deferred is this a drop in replacement for jQuery. That is does it provide all of the remaining jQuery functions?

[2013-09-23 09:42] #1 closed, assigned to nobody

[2013-12-02 16:44] bkardell opened #2 "broken link"
link to http://webpro.github.io/jquery-evergreen/mode.html is 404.

[2013-12-02 16:48] #2 closed, assigned to nobody

[2014-01-17 17:45] stevenvachon opened #3 "Important missing functions"
[code]

**Edit**:
I had suggested `.one()`, but removed it because we can just do `$(this).off("event", arguments.callee)`. It's not used very often either from my observation.

[2014-01-21 02:53] #3 closed, assigned to nobody

[2014-02-04 21:42] samme opened #4 "Missing $.fn"
Adding `$.fn = $.prototype` would let us use jQuery plugins with Evergreen.

[2014-04-03 06:13] #4 closed, assigned to nobody

[2014-05-21 18:11] domenic opened #6 "Small tweaks I would recommend"
Hi! Cool library. I love jQuery's syntax and model, no matter what people say about using the native DOM, but also would love something that contains just the essentials. This seems pretty much perfect, and I hope to use it on my next project.

I'm opening this issue to argue for a few tweaks to certain methods, based on my preferences. But I realize they might not align with your goals or use cas

[2014-05-22 20:50] #6 closed, assigned to nobody

[2014-05-23 06:49] webpro opened #7 "Array methods"
(Continued from #6)

Array methods can be useful for any collection. Although the current implementation works (just fine for me), I'm not 100% sure on what is the right path to follow, with the least surprises.
- The array methods are not meant for _DOM manipulation_ (e.g. `push` != `append`), just to manipulate the elements in the `$collection` at hand.
- The array methods have high diversity in

[2014-05-26 12:12] dryabov opened #9 "DOMtastic doesn't support space-separated event lists"
DOMtastic doesn't support space-separated event lists in `on` and `off` methods, e.g.

[code]

[2014-05-26 20:20] #9 closed, assigned to nobody

[2014-05-26 20:34] #7 closed, assigned to nobody

[2014-05-27 05:38] dryabov opened #11 "Support of $.isFunction"
Is it possible to include `$.isFunction` to `util` module, or make a separate module for it? The code of this function is quite short (jQuery itself uses more complicated code, but IMHO this one is the fastest)

[code]

I've found it is used by many jQuery plugins (usually to check that the last argument is a callback).

[2014-05-27 09:44] geakstr opened #13 "Implement .css() method"
How about implement .css() method like in jQuery?

[2014-05-28 10:02] #11 closed, assigned to nobody

[2014-06-09 13:52] #13 closed, assigned to nobody

[2014-06-11 09:42] tamascsaba opened #14 "Mouse Events"
Hy!

MouseEnter MouseLeave etc. events target in on method is wrong, when add selector to the on method.
Don't run the handler.

Examples:
DOMtastic: http://jsbin.com/lufakigi/1/edit
jQuery: http://jsbin.com/zoqeloso/1/edit
Zepto: http://jsbin.com/hexopiso/1/edit

[2014-06-23 08:33] #14 closed, assigned to nobody

[2014-06-27 06:10] englishextra opened #15 "double link to map file in cdn version"
see here

http://cdn.jsdelivr.net/domtastic/0.7/domtastic.min.js

//# sourceMappingURL=domtastic.min.js.map
//# sourceMappingURL=domtastic.min.js.map

[2014-06-27 16:01] #15 closed, assigned to nobody

[2014-08-18 13:38] bitinn opened #19 "Chainable toArray?"
I am probably overlooking something here, but toArray doesn't seem to be chainable (eg. `$(selector).toArray()` doesn't work)? It's not in the API doc but used internally, not sure about your rationale to keep it from API?

Using native mode by default seem to be overkilling a bit, as we just want an Array of DOM elements instead of NodeList.

[2014-08-18 14:13] bitinn opened #20 "Expose a named global instance besides $"
Not trying to make DOMtastic more like jQuery, but this seems like a good idea to me.

Imagine writing a simple plugin such as:

[code]

Without UMD, To be conflict free the author might want to do this:

[code]

[2014-08-18 14:32] #20 closed, assigned to nobody

[2014-08-18 14:47] #19 closed, assigned to nobody

[2015-04-11 20:57] perfectsquircle opened #27 "$ is undefined in closest.js"
The $ variable is used in closest.js, but it's never explicitly imported. I get a TypeError when I use this in the commonjs format with Browserify.

[2015-04-12 07:08] webpro commented on #27
Thanks @perfectsquircle, just released 0.10.2 with a fix.

[2015-04-12 07:08] #27 closed

[2015-05-27 17:54] hijonathan opened #28 "IE9 Support"
Seems like there's more to it than just making `classList` work: https://saucelabs.com/tests/2a7a38c75df246158fccca6e56b21e11

I have the classList patch on a branch but want to get your thoughts on actually supporting IE9. It sounds like it shouldn't be that bad.

[2015-05-28 05:59] webpro commented on #28
DOMtastic is for modern browsers. If you need support for IE9 you can use a classList polyfill. And indeed, you need to stay away from specific DOM manipulation within `<table>` and `<select>` elements.

I'd rather not include major workarounds for old browsers.

[2015-05-28 13:50] hijonathan commented on #28
Fair enough.

[2015-05-28 13:50] #28 closed

[2015-06-26 09:25] dryabov opened #30 "Error in bin/custom"
bin/custom triggers following error on my side:
[code]
I had to patch part of bin/custom to be
[code]
to build it correctly.

PS. I built DOMTastic on Windows, maybe it's the reason of modules are not required automatically.

[2015-06-26 12:37] webpro commented on #30
@dryabov OK, I've pushed a fix in a separate branch. If you confirm this works for you I can merge/release it.

Thanks for the catch (although I couldn't find other Browserify issues from other Windows users). Are you sure your `node_modules` folder was up-to-date etc.?

[2015-06-26 12:43] dryabov commented on #30
It was the first thing I tested, and removing node_modules doesn't fix the issue.

issue-30 branch should work because of it is exactly the code I've run successfully.

[2015-06-26 12:54] #30 closed

[2015-06-26 12:57] webpro commented on #30
Thanks @dryabov, just released v0.10.3.

[2015-10-06 08:30] jenstornell opened #31 "Is DOMtastic better than ki + ki.extend.js?"
The syntax seems to be an exact match to ki + ki.extend.js. If why is DOMtastic better?
I have asked the same question on ki.extend.js.

https://github.com/james2doyle/ki.extend.js/issues/9

[2015-10-06 08:51] webpro commented on #31
To be honest, I haven't seen ki.js before. Some of the differences I can see at first glance:

* ki.js + ki.extend.js seems to be roughly the same in size. Performance? I can't tell the difference, but I know [DOMtastic is pretty fast](https://domtastic.js.org/benchmark/).
* ki.js has one source file, so looks like it isn't very modular. But at these sizes, that probably doesn't matter too much. S

[2015-11-08 12:13] webpro commented on #31
Closing due to inactivity.

[2015-11-08 12:13] #31 closed

[2016-01-13 14:59] futurist opened #32 "width/height support"
I'm start using DOMtastic but found my previous code have many .width()/.height, so is there any way to add these?
or, think, the way get w/ margin w/o margin, w/padding+border, w/o padding+border, etc
maybe plugins?

[2016-01-17 09:39] webpro commented on #32
You can use a plugin indeed. Here's a simple example:

[code]

Let me know if it works for you.

[2016-01-24 01:29] daviestar opened #33 "Documentation examples for multiple css() and attr() broken"
The example for adding multiple `attr` is broken:
[code]
http://domtastic.js.org/doc/#dom/attr

Could be:
[code]

The example for adding multiple `css` is similar:
[code]
http://domtastic.js.org/doc/#css

Could be:
[code]

Been using DOMTastic a lot recently and it's been great.  Thanks guys.

If I had one feature request it would be Jquery's `one` helper.

[2016-01-24 12:07] #33 closed

[2016-01-24 12:15] webpro commented on #33
Thanks @daviestar! I was also inspired to add the `one` method, it'll be released shortly in the next minor version.

[2016-01-25 12:03] daviestar commented on #33
Thanks @webpro, look forward to checking it out!

[2016-01-25 12:05] webpro commented on #33
`one` is already in [0.12.0](https://github.com/webpro/DOMtastic/releases/tag/0.12.0)

[2016-01-25 12:45] daviestar opened #34 "[Feature request] Event namespacing"
It would be great to be able to group/namespace events so they can be destroyed together, for example:

[code]

Or moving away from the JQuery way:
[code]

[2016-01-25 13:23] webpro commented on #34
If you look at https://github.com/webpro/DOMtastic/blob/master/test/spec/event.js#L261-L271, you can see that there is some primitive way to (un)bind name-spaced events:

[code]

I'd be interested in hearing whether this works for you.

[2016-01-25 14:34] daviestar commented on #34
Ahh, nice, I will have a look into it and report back

[2016-02-09 21:57] #32 closed

[2016-02-09 21:58] webpro commented on #34
Feel free to re-open.

[2016-02-09 21:58] #34 closed

[2016-06-29 08:35] olsonpm opened #37 "Custom build '--include' not working"
DOMtastic version 0.12.1
using the script: `npm run bundle -- --include=selector,array,event`

results in a file that doesn't export a selector properly.  It seems something is going wrong with the rollup import transforms because eslint reports 'selector' being not defined in the following section:

[code]

It seems that `selector.$` from above is supposed to be the exported `$` from `selector/in

[2016-07-26 13:04] jimasun commented on #37
Same issue. It seems that whatever I choose to exclude, the only two modules are @module Util and @module Ready.

[2016-07-26 19:42] webpro commented on #37
Sorry @olsonpm and @jimasun.

The issue is that I've moved modules to folders, and that structure should be followed when including or excluding modules in a custom build. I see @jimasun has found this himself already.

To see the all module names, you can run:

[code]

So @olsonpm's command should look like this:

[code]

Let me know if things work for you! I'll update the docs shortly.

[2016-07-26 19:45] olsonpm commented on #37
I'll give it a go sometime this week.  Thanks much for the response

[2016-07-26 19:53] #37 closed

[2016-07-27 08:01] jimasun commented on #37
Thanks for updating the instructions. I haven't tested it yet, as I am quite satisfied with the node script.

PS. Something happened with the api documentation. It seems that the [doc page](https://domtastic.js.org/doc/) only shows the `BaseClass`.

Thanks!

[2016-07-28 15:56] icflorescu opened #38 "API documentation website not working correctly"
Hi Lars,

The API documentation website stopped working correctly a few days ago. All link hashes invariably lead to the showing just the `BaseClass` page now:

![domtastic-docs-bug](https://cloud.githubusercontent.com/assets/581999/17219559/74ca2eb6-54f4-11e6-9853-baa7f409be24.jpg)

Let me know if there's anything I can assist with to fix this.

P.S. Thanks for creating DOMtastic! ;-)

[2016-07-28 16:00] webpro commented on #38
Yeah I know. I think the problem is that I've refactored quite some exports a while ago and [dox](https://github.com/tj/dox) doesn't support this well. If I recall correctly, the issue was something like not resolving eg. the "siblings" function name from `export const siblings = function(selector) {}`.

[2016-08-03 20:33] devmarco opened #39 "Element API is breaking Isomorphic Apps"
I have an isomorphic application, and today I tried to replace Jquery by DOMtastic, but one of the files, most specific `closest.js` is breaking the application, because it is using the new `Element` dom API. See the attached image below.

<img width="1066" alt="screen shot 2016-08-03 at 5 29 45 pm" src="https://cloud.githubusercontent.com/assets/2750520/17381036/6a37cc3c-59a0-11e6-95bd-0c7c27dd60

[2016-08-04 07:35] webpro commented on #39
Thanks @devmarco, I'm happy to look into this, but I would like to have some way to reproduce this (I can imagine running into more issues like this). Do you have a test case or something I can work with?

[2016-08-05 06:01] olsonpm commented on #38
I guess this should be obvious - but an easy workaround for now is just to clone it locally, checkout the second-to-latest commit on `gh-pages` and open the doc/index.html file.

[2016-08-05 06:16] webpro commented on #38
I'm going to take a stab at fixing this today.

[2016-08-05 09:48] webpro commented on #38
Looks like https://domtastic.js.org/doc/ is OK again. Please let me know about anything incorrect.

[2016-08-05 09:48] #38 closed

[2016-08-05 15:09] icflorescu commented on #38
Thanks a lot!

[2016-08-06 02:15] olsonpm commented on #37
Tested just now - works great.  Much appreciated @webpro

[2016-08-10 18:09] jimasun opened #40 "data(key) might be "broken" or misleading"
I'm not sure if it does what it is intended to do but from what I've understood from the source code, `.data(key)` only returns values that have already been set a priori.

It is misleading since all the `jQuery` references made in the introduction of this toolbox. I was expecting `.data(key)` to return values from `.dataset[]` standard `JS` node property.

The solution might be as simple as chang

[2016-08-11 08:19] webpro commented on #40
Hi @jimasun, thanks for your feedback, I appreciate it. The reason for not using `dataset` initially was mostly browser compatibility. But I agree using `dataset` is indeed better, with the current solution as a fallback.

I'm happy to look into a PR you would submit, or I'll work on it myself in a few days.

[2016-09-12 13:22] dodas opened #41 "toggleClass - 2nd argument - state boolean"
Hello,
I think it is very nice in jQuery to be able to pass second argument which determinates presence of class. See in [.toggleClass() docs](http://api.jquery.com/toggleclass/#toggleClass-className-state).
Could you add it to DOMtastic? thanks.

[2016-09-20 09:37] yuu2lee4 opened #43 "it seems good to using with vue or react"
thank you.

[2016-10-23 14:27] matt3224 opened #44 "Why does .on return an integer as the second argument in the callback?"
See my pen: http://codepen.io/matt3224/pen/KgJWaR?editors=1010

What is this mystery integer and why is it default? I have no use for such a thing and it means every time I use .on I need to account for this when creating my arguments and when calling the function.

If someone could clear that up for me it would be greatly appreciated, domtastic is pretty great so far!

[2016-10-23 16:21] webpro commented on #44
Hi @matt3224, it is kind of mysterious indeed. For some mouse events, the `event.detail` property represents the *mouse count*: https://developer.mozilla.org/en-US/docs/Web/API/UIEvent/detail

This is the second argument that DOMtastic also passes to your event handler, as you found out.

For custom events however, this is data that can be passed when triggering events:

[code]

I'll take a look a

[2016-10-23 17:39] matt3224 commented on #44
Is there no way to switch that off or remove it? For example here's a snippet from something i'm working on; it is a method and a couple of events from a modal component I have. You can see I am having to provide some value as the second argument and define it in my function which is less the ideal as 99/100 times I will not be using the click count.

[code]

[2016-10-25 21:37] webpro commented on #44
I've eventually decided too make a patch release. Can you please check out v0.12.3?

[2016-10-25 21:54] matt3224 commented on #44
Okay so i get an error on bundle, it does complete but domtastic is 3kb lighter than the bundle from your cdn and has a problem with `$`

Check this screenshot:
![screen shot 2016-10-25 at 22 53 26](https://cloud.githubusercontent.com/assets/2401925/19705732/02471b08-9b06-11e6-93d4-60826365ee14.png)

[2016-10-26 07:10] webpro commented on #44
* The build is smaller, but it still passes all tests (the minification goes a bit different now).
* You can use the pre-built `dist/domtastic.js` (or `domtastic.min.js`).

What is the problem with `$`? Just tried it, and it's globally available if I just insert the `<script>` tag, and I can also `require` it:

[code]

If you can share your setup I'm happy to look into it.

[2016-10-26 07:11] webpro commented on #43
Thanks @yuu2lee4! If you have any questions or feedback I'm happy to discuss it.

[2016-10-26 07:11] #43 closed

[2016-10-26 07:26] webpro commented on #41
See #42.

[2016-10-26 07:26] #41 closed

[2016-10-26 08:21] matt3224 commented on #44
I use CodeKit to handle my transpiling and minification. CK doesn't yet support converting es6 modules to es5 using rollup so for now i'm including your bundle in my build.

You don't currently offer a dist folder in the repo so I thought I needed to bundle it myself which is what led me to the issue above.

If I include what rollup outputs into dist I get the following error: `TypeError: undefine

[2016-10-26 08:45] webpro commented on #44
When installing from npm, the `dist` folder now contains the bundle. Does CK install using Bower or Github? But indeed, if it's not coming from npm, there's no transpiled bundle, so you'd need to manually bundle it.

Looks like the `this` (`global`) variable is not at the top level anymore (probably gets wrapped by CK or something). My first guess is that the rollup UMD output has changed somehow

[2016-10-26 10:29] matt3224 commented on #44
HI Lars,

Here's a rundown of my process to include DOMtastic:

1. Download the repo via zip
2. Run `npm install` via terminal
3. Run `npm run bundle`
4. Copy domtastic.min.js to my project folder
5. Use CodeKits' js concatenation to combine domtastic with my project js, putting DOMtastic first

I have re-bundled (which works ok now), placed the file in my build and I get that error on page load.

[2016-10-29 07:38] webpro commented on #44
Your environment is doing something different than mine:

[code]

The difference in your situation is that it renders an `undefined` on the last line (and `this` for me):

[code]

Is the `domtastis.js` you copy to your project folder the same as mine? Does `this` get rewritten to `undefined` by CodeKit?

(Also see: https://www.google.nl/search?q=this+keyword+is+equivalent+to+undefined+at+the+top+l

[2016-10-30 13:43] matt3224 commented on #44
Oh no! I think you may be right, I have separated DOMtastic and included it as its own script file and the error has gone. CodeKit must be doing something it shouldn't, let me file a bug report with Bryan and see what he says. I'll keep you posted!

[2016-10-31 07:13] webpro commented on #44
OK @matt3224, I'm going to close this issue (it was actually about the `on` method anyway).

[2016-10-31 07:13] #44 closed

[2016-10-31 07:16] matt3224 commented on #44
That's cool, i did some more testing and its CodeKits implementation of babel mixed with file concatenation that's causing the issue, as you suggested. Thanks for all your help, really appreciate it!

[2016-10-31 07:17] webpro commented on #44
OK @matt3224, feel free to open new issues if you have anything else.

[2016-11-09 09:16] matt3224 opened #45 "How to deal with 3rd-party plugins that use jQuery in a CMS such as WordPress"
Hey Lars,

I just wondered how best to deal with such madness. We use WordPress a lot for client sites and quite often third-party plugins will use jQuery by default which as you can imagine is problematic when we are using DOMtastic for the theme.

Do you have any words of wisdom on this subject?

Thanks,
Matt

[2016-11-09 09:27] webpro commented on #45
You can use [$.noConflict()](https://domtastic.js.org/doc/#noconflict) (jQuery has it as well). Does that help?

[2016-11-09 11:54] matt3224 commented on #45
Yes I think I could use noConflict, I may not need to but probably should, even if it is just to return the original $ state. I will be loading domtastic first in all cases so it isn't a massive issue I am just working out the best way to structure our in-house front-end framework.

//Here's some backstory...

I did have it all in pure ES6/2015 (transpiling for IE11) and that felt nice but I found

[2016-11-09 11:54] #45 closed

[2016-11-09 12:03] webpro commented on #45
What do you mean by this? If you have questions, feedback or ideas on how to improve things, I'm happy to discuss in another PR if you want to.

[2016-11-09 12:06] matt3224 commented on #45
I just mean in pure js

[2016-11-09 12:06] matt3224 commented on #45
I think domtastic works wonderfully well

[2016-11-12 15:54] matt3224 opened #46 "Follow on from twitter, JS Architecture help"
Hey Lars,

Sorry to bother you with more questions, I really appreciate your help and advise on this though!

I couldn't explain what I want to do in 140 characters so I am using the repo. I have a framework/library currently written all in es5 using standard iife's. I would like to modernise the framework/library by using es6 modules.

I want to use DOMtastic as the base for my framework componen

[2016-11-15 22:03] webpro commented on #46
You can extend `$.fn` like jQuery plugins (also see https://github.com/webpro/DOMtastic#but-it-doesnt-even-have-awesomest-method) for stuff like `$('.myelem').modal()`. Or isn't this what you mean?

Do you mean you want to import e.g. the `modal` component separately? You could `import modal from './components/modal'` in some central place where all components are attached to `$.fn`.

I'm not sure

[2016-11-18 23:09] matt3224 commented on #46
Yes `$.fn` is what I would use. I saw your base class and wondered if I could use factory functions in a similar way. I have recently managed to solve my bundling issues and have that all working nicely now.

Thanks for your help, i'll close the issue and let you take a look at my project once I have made something half decent to see what you think.

Cheers!

[2016-11-18 23:09] #46 closed

[2016-11-20 20:58] matt3224 opened #47 ".each works differently to jQuery"
I have edited the initial question after I found this `forEach (alias: each)` however it seems to work differently to the implementation. I would like to do this for example:

[code]

It would be great to use DOMtastic as a super fast interchangeable dom library for all dom traversal tasks such as this. It seems like this is the goal afterall

Thanks

[2016-11-20 21:53] webpro commented on #47
The goal is indeed to be an alternative to jQuery. However, the callback interface with the `index` as first argument is counter-intuitive. So this is how DOMtastic works:

[code]

However, you can [make a custom build](https://github.com/webpro/DOMtastic#jquery-compatibility) to match jQuery's style using `npm run build -- --jquery-compat`:

[code]

Are you saying that `this` doesn't equal `eleme

[2016-11-20 22:28] matt3224 commented on #47
Ah ha! I overlooked the jQuery compatibility mode, thanks!

[2016-11-20 22:28] #47 closed

[2016-12-11 00:55] matt3224 opened #48 "$.data equivalent in DOMtastic?"
I am playing around with plugins and am wanting to create a few of these. A lot of the examples on how jQuery plugins are structured use $.data to save each instance of the plugin.

One of the best examples is that of [John Dugan](https://john-dugan.com/jquery-plugin-boilerplate-explained/)

If you simply switch jQuery for DOMtastic (using the DOMtastic jquery compat mode too) throws an error. I s

[2016-12-11 18:58] webpro commented on #48
If the problem is a missing `$.fn.data` function, you could add it yourself. Not sure if that would be enough? There might be more methods missing.

Btw, here's jQuery's implementation: https://github.com/jquery/jquery/blob/master/src/data.js

[2016-12-15 03:54] olsonpm commented on #39
I've been working with a couple isomorphic side-projects and haven't ran into this issue.  I'm assuming @devmarco is triggering a domtastic function on the server-side without meaning to, and the 10-frame stacktrace certainly isn't enough to find the presumed offending file.

[2016-12-15 14:43] webpro commented on #39
Thanks for your feedback, @olsonpm. I remember myself including DOMtastic in a Node environment without problems. If anyone has any issues, feel free to discuss. I'm going to close this issue as it's old, and there was no response from topic starter.

[2016-12-15 14:43] #39 closed

[2017-02-24 15:52] vincentbeutin opened #50 "trigger with "click" string in type of the event"
hi,

if i trigger an event `test_click`, a `Mouseevent` is fired and not a `CustomEvent` and params are empty in the listener.

[code]

version = '0.10.3'

[2017-02-28 10:24] webpro commented on #50
Hi, @vincentbeutin. Yes, DOMtastic tries to detect the appropriate event type to be fired, and dispatches a `MouseEvent` if the event `type` matches this regular expression: `/^(?:mouse|pointer|contextmenu)|click/`. The `detail` property is set by DOMtastic, but to no effect, since it's read-only for a `MouseEvent`.

An actual mouse event (by a real user) also has `details` set by the browser.

I

[2017-03-06 21:25] #40 closed

[2017-03-12 21:17] webpro commented on #48
Once I'll get BrowserStack running, `data()` will be in the next release (it's in the master branch if you want to try it).

[2017-03-12 21:18] webpro commented on #40
Once I'll get BrowserStack running, `data()` (using `dataset`) will be in the next release (it's in the master branch if you want to try it).

[2017-03-20 15:22] gsouf opened #51 "Benchmark page is dead"
Hi, the benchmark page on the website has passed away :'(

https://domtastic.js.org/benchmark/

[2017-03-20 15:48] webpro commented on #51
Thanks, @gsouf. Actually I was waiting to release a new version quickly which will restore this. I'll do it soon!

[2017-03-20 20:56] webpro commented on #51
And they're back :-)

[2017-03-20 20:56] #51 closed

[2017-03-20 20:56] webpro commented on #48
Released in [v0.13.0](https://github.com/webpro/DOMtastic/releases/tag/0.13.0).

[2017-03-20 20:56] #48 closed

[2017-03-21 09:39] gsouf commented on #51
:tada:  Benchmarks look very promising

[2017-03-21 11:10] gsouf opened #52 "Determine if an object is a domtastic instance"
Hi, that's a question before being an issue, but I couldnt find a best place to ask for it.

I'm trying to determine if an object is an instance of domtastic or not.

I ended up with this workaround:

[code]

But ``Wrapper`` class name is not unique to domtastic, and, though the risk is really minor, it could lead to an error.
Is there a better way to do?

In jquery I would do this:

[code]
Thanks

[2017-03-21 14:38] gsouf opened #53 "first"
Hi,

A minor but life saver feature is missing (in my opinion) in domtastic.

It's ``$element.first()`` I know it's the same as ``.eq(0)`` however its implementation is very lightweight and it can fill a compatibility issue with jQuery.

What do you think ?

[2017-03-21 16:15] webpro commented on #52
I can probably make `$.name === 'domtastic'`, but for now you could use your workaround, or alternatively `$.fn.find === element.find`.

[2017-03-21 16:15] webpro commented on #53
Good idea. Would you like to open a PR for this?

[2017-03-22 13:14] gsouf commented on #53
@webpro would also like to implement ``.last`` ?

[2017-03-22 21:50] #53 closed

[2017-03-22 21:53] webpro commented on #53
Thanks, @gsouf! I'm not looking for 100% replacement of jQuery, although it's hard to draw a line. Btw, perhaps the easiest way to do `.last()` is `.slice(-1)`.

[2017-03-22 22:01] gsouf commented on #53
Sure, I dont know people habits, but in my case I almost never use .last, but I use .first very often (and that makes replacement of jquery with dommtastic much mmore comfortable), that's why I just asked for .first at a first glance. Let's see if some people need it at some point. Anyway the library can be extended easily.

[2017-03-22 22:04] webpro commented on #53
Yes, extending `$.fn` is also possible.

[2017-03-27 13:34] gsouf commented on #53
Hi @webpro, are you planning a bump soon for this feature?

[2017-03-27 13:40] webpro commented on #53
Apologies, I totally forgot! Just release [v0.14.0](https://github.com/webpro/DOMtastic/releases/tag/0.14.0)

[2017-03-27 14:07] gsouf commented on #53
Thank you :)

[2017-04-04 15:45] gsouf opened #55 "Determine the index of an element in the parent"
Hi,

I didnt find an easy way to get the index of an element in the parent with domtastic.

Here is the jquery way of doing this: ``var indexInParent = $('.parent .children.active').index();``

Would you like domtastic to have this feature ?

[2017-04-04 19:52] webpro commented on #55
Hi @gsouf, yes sounds good. So there's already `indexOf(element)` (and `index(element)` for $ compat), but no args means index in parent. I'm happy to review your PR!

[2017-04-05 08:33] gsouf commented on #55
Ok, I'm just wondering how to include it.

I could wrap indexOf and make it do the job when we give no arg, but I think there are two problems:

- semantically in "indexOf" there is "of" that makes it not natural to be used with no arguments.
- indexOf returns the index of the first undefined element in the array or -1 when no arg is given. That could lead to unexpected behavior.

Second, I could

[2017-04-05 20:59] webpro commented on #55
1. Why isn't it natural to use it without arguments? I'd think an element always has a position within its siblings in the DOM, so I think it makes sense.
2. Why should `indexOf()` return the index of the first `undefined` element? I'm not sure I understand. I think `$(element).indexOf()` should return the index within siblings in the DOM. Regardless of the selector used, e.g `$('li.foo').indexOf(

[2017-04-08 08:42] gsouf commented on #55
1. I mean "index of element" looks natural but "index of [nothing]" does not. It can lead to bad understanding when you are not aware of that and you are reading the code.

2. Because it's the behavior of Array.indexOf. Try to do ``['a', 'b', undefined].indexOf();``, it will return ``2``.

But if you are ok to go this way with the method indexOf, I'm ok too!

[2017-04-11 10:05] webpro commented on #55
1. At least we can document it.
2. Ah, now I understand. But `$()` instances should never have `undefined` elements, so I guess this isn't an issue.

[2017-05-14 18:37] Wikiki opened #56 "Event on with '>' selector not working"
Hi,

first of all, very good work ;-)

I found an  issue with the event on.
If I try to create this kind of event:
[code]

which is working well with JQuery (see JSFiddle [here](https://jsfiddle.net/c6up267s/) ), I get the following error with DOMtastic:
[code]

Same problem with selectors like `$( '> .title' )`

Do you have any idea how to fix that ?

Regards,

[2017-05-15 16:58] webpro commented on #56
Hi @Wikiki. The error message is clear: you can only use valid selectors, see e.g. https://developer.mozilla.org/nl/docs/Web/CSS/CSS_Selectors.

You could use alternatives like this:

[code]

Does that help?

[2017-05-15 17:04] Wikiki commented on #56
Hi,

Thanks for your answer.
I agree with you regarding the message. It's clear but I'm trying to write a drag' n drop module using your library and for it I don't know in advance the parent node. (It will be determined during the module instanciation like `$( '#section' ).droppable( { items: ">" } );`
For example I want to be able to run the following code:

`$element.on( 'dragenter', settings.it

[2017-05-15 18:27] webpro commented on #56
Getting a sense of what you're after. Can you share some more code I can try?

[2017-05-15 18:54] Wikiki commented on #56
Hi,

I put some code here: [https://github.com/Wikiki/dragndrop](https://github.com/Wikiki/dragndrop) for you.

Regards

[2017-05-16 20:12] webpro commented on #56
Sorry, but it looks like dependencies are missing, nor is it code I can try and run in my browser (perhaps with some build command?) :-)

[2017-05-16 21:35] Wikiki commented on #56
Sorry, my bad.

I put the correct version with you library on my github. I've created a folder "dnd" within src dir and included my sources into index.js so you just have to build the source to test.

Regards.

[2017-05-18 10:52] Wikiki commented on #55
Hi,

what about the following code ?

[code]

Regards

[2017-05-18 18:28] Wikiki opened #57 "Determine if an element "is" the selector"
Hi,

How to simulate the .is() function of JQuery ?
I have the following code but how to manage the fact that the selector is already an instance of DOMtastic ?

[code]

Regards.

[2017-05-19 09:28] webpro commented on #57
To see if `selector` is an instance of `$`:

[code]

[2017-05-19 09:32] webpro commented on #52
To see if `selector` is an instance of `$` you can already also use this:

[code]

I will also add the following function names to the selector function and the constructor:

[code]

[2017-05-19 09:32] #52 closed

[2017-05-19 09:40] webpro commented on #55
Looks good. Please also check if `element` has a `parentNode`.

Just to be clear: I'm assuming `indexOf(element)` is the existing, default behavior; and `indexOf()` without an argument is what you are implementing now. Right? In jQuery compat mode, this is an alias to `index` with the same behavior.

[2017-05-19 11:11] Wikiki commented on #57
Simple and efficient. ;-)

Thanks

[2017-05-19 19:30] Wikiki opened #58 "How to add element to an existing DOMtastic instance ?"
Hi,

how can we add a new DOMtastic instance to an existing one like .add() function do in jQuery ?

regards,

[2017-05-20 08:52] Wikiki opened #59 "Find and Filter hidden and/or visible elements"
Hi,

I'm trying to find and/or filter only visible elements.
I modify the existing matches function to this code. Do you thing this is enough ?

[code]

Regards,

[2017-05-20 09:20] Wikiki commented on #57
Hi,

I reopen issue because it seems that my code for is function is not working.
How to do, for example, this:

`$( '.sortable' ).is( '.show' );`

Regards,

[2017-05-20 09:26] Wikiki commented on #58
Hi again,

I wrote this code:

[code]

what do you think about it ?

regards,

[2017-05-20 10:41] Wikiki commented on #57
Hi again,

I just update the code to :

[code]

[2017-05-20 10:55] Wikiki commented on #59
And to take it into account with filter:

[code]

[2017-05-21 11:27] Wikiki commented on #57
Hi,

I've made a pull request for this functionality [Add .is() DOM Filter #65](https://github.com/webpro/DOMtastic/pull/65)

[2017-05-22 14:40] webpro commented on #58
Discussion is in #61.

[2017-05-22 14:40] #58 closed

[2017-05-23 12:31] Wikiki opened #68 "Help to use $.baseclass"
Hi,

How can I use $.baseclass to reproduce something like this:

[code]

Regards,

[2017-05-26 11:55] webpro commented on #68
This is an example with an ES6 class extending from `$.BaseClass`:

[code]

[2017-05-26 12:34] webpro commented on #57
For this specific example, you could use:

[code]

Let's discuss in #65, so I'll close this one.

[2017-05-26 12:34] #57 closed

[2017-05-28 10:39] Wikiki commented on #68
Hi,

thanks for the example.
How can I create a component’s instance for each node of the collection but still the ability to use the existing DOMtastic instance to do another job ?

Example:
$element = $( mySelector );
$element.myComponent( options );
$element.fadeIn();

Regards,

[2017-05-30 09:46] jesper-johansson opened #69 "CustomEvent is not a constructor error after upgrading to 0.15"
This line gives an error:
`child.dispatchEvent(new CustomEvent('e', {bubbles: true}));` in `trigger.js:169`

Polyfill needed?

[2017-06-09 07:31] webpro commented on #69
In what browser or environment are you getting this error?

There is a [polyfill](https://github.com/webpro/DOMtastic/blob/b727c24cc614ef3a3dffcbc26832939e06b56334/src/event/trigger.js#L133-L152), but only for environments having a `window` and `window.document`.

[2017-06-09 07:51] webpro commented on #68
You can extend DOMtastic by extending `$.fn`, for example:

[code]

Alternatively, from a plugin/component perspective, you could pass parameters (`options`) when creating an instance (available in the constructor):

[code]

[2017-06-28 09:10] alexandernanberg commented on #69
I'm seeing this error as well, in both Chrome 59 and Safari etc. We're using webpack to bundle our code.

[code]
throws this error
![image](https://user-images.githubusercontent.com/8997319/27629270-1734b0f4-5bf2-11e7-99ef-4ebca361fb4e.png)

[2017-07-04 21:45] webpro commented on #69
Could it be that this is broken since DOMtastic v0.13? (change: https://github.com/webpro/DOMtastic/commit/8710c247bf4a1893d396300c42b624d937a5a16b#diff-34a6d62af0cf0b784f8444529f3130ef).

Not sure what could cause this issue in the changes in the 0.15 release. I've changed the `esnext:main` property to `module` in package.json, which should maybe be `esnext` instead. Not sure how Webpack handles

[2017-07-05 06:50] alexandernanberg commented on #69
Dont't think so, works with version ~0.14

It seems to be a problem with the `module` property, like you said, Webpack takes the entry from the `module` (which is not transpiled) property and not the `main`. The event error occurs because  `CustomEvent` is an arrow function so you can't call as a constructor with `new`. Babel transpiles it into a regular function with a `.bind()` and then you can

[2017-07-05 08:04] webpro commented on #69
Thanks, @alexandernanberg. I'm starting to realize that `module` is only about the *module* syntax (ESM), but the source code of this lib has (much) more ES6 syntax indeed. [@rauschma proposes](http://2ality.com/2017/06/pkg-esnext.html) to use the `esnext` property, but this doesn't seem to be supported by Webpack (yet).

I've just released v0.15.1 with `module` being removed (actually reverted ba

[2017-07-05 08:36] alexandernanberg commented on #69
@webpro Great, tested again and now it works. Thanks for the quick fix!

I think this issue can be closed now

[2017-07-05 08:52] webpro commented on #69
Thanks!

[2017-07-05 08:52] #69 closed

[2017-07-05 08:52] webpro commented on #68
Closing due to inactivity.

[2017-07-05 08:52] #68 closed

[2017-07-05 08:58] webpro commented on #56
Sorry, but I'm going to close this issue. The original question is, hopefully, answered adequately. If there are any specific questions or remarks about this library, I'm happy to investigate or discuss.

Btw, I do see Zepto has support for this (https://github.com/madrobby/zepto/blob/97de41256d3c511ddb06e6d36d9a16388e9d2da5/src/selector.js#L61-L67), so I might consider and add something similar a

[2017-07-05 08:58] #56 closed

[2017-07-05 09:02] webpro commented on #59
Closing this in favor of #64.

[2017-07-05 09:02] #59 closed

[2017-07-11 11:43] darbymanning opened #70 "Use with webpack & ProvidePlugin"
I realise this is really a webpack configuration issue, but I thought you might be able to help ...

I'm using it to load domtastic automagically when $ or jQuery is used. Here's what I have in webpack.config.js under plugins:

[code]

This works great on my main bundle.js file if I use `$` or `jQuery`, it requires it as expected. However if I import any other .js as a partial in bundle.js which u

[2017-07-11 20:41] webpro commented on #70
You should `import $ from 'domtastic'`. I understand you don't want to, but that's how it works. Not sure how to work with globals. Maybe there's a Webpack plugin or something that automatically inserts the `import/require` statements for you. You could also just always load $/jQuery upfront (script tag/CDN) to make sure it's available globally.

[2017-07-11 20:41] #70 closed

[2017-08-10 12:26] gsouf opened #71 "$.closest maximum callstack"
Hi,

When using $.closest with an object whose the required grand parent is very far away, the javascript engine will stop the execution of the closest method.

[2017-08-10 13:43] webpro commented on #71
How far is "very far away", in number of parent nodes? Do you have a test case I can try?

[2017-08-10 13:52] gsouf commented on #71
Not so much actually: something like 12, but I think the issue is something else because according to this fiddle there is no issue: https://jsfiddle.net/278th7cm/
Investigating now

[2017-08-10 14:01] gsouf commented on #71
Well, that was my fault, calling $(a).closest when a was not a valid selector. I was fooled by the fact that closest might actually cause this issue due to its recursive nature.

[2017-08-10 14:01] #71 closed

[2017-08-16 08:06] webpro commented on #71
I'm glad you found the issue :-)

[2017-10-22 21:52] webpro commented on #50
Fixed in a70b2f6b631a4d9ad5b6f3ad007491941967097b

[2017-10-22 21:52] #50 closed

[2017-10-27 08:20] webpro commented on #55
Closing due to inactivity. Feel free to discuss further and/or open a PR for this.

[2017-10-27 08:20] #55 closed

[2017-10-28 13:37] medialwerk opened #88 "Issue with domtastic@0.15.3"
Hello,

i load domtastic@0.15.3 with webpack@3.8.1 and chrome. The following error occurs:

[code]

Is that a known issue at the moment? - With domtastic@0.14.0 is everything fine.

Thanks!

[2017-10-30 22:08] webpro commented on #88
Please see #69. Not sure what field(s) in `package.json` should be used these days. DOMtastic currently uses this:

[code]

[2017-11-03 03:25] nickngqs commented on #88
I'm also having this issue. I'm using rollup to bundle my files. Since its ES6, i suppose it needs to be transpile to ES5? But my rollup.config has babel ignore node_modules. Is this maybe the reason or?

[2017-11-03 07:46] webpro commented on #88
I'd like to support both bundlers, but I do need some example setup or reproducible case to work/test with.

[2017-11-04 17:56] Wikiki commented on #68
Hi @webpro,

sorry for not responding earlier.
You are not answering to my point which is:
"How to instanciate a plugin from an existing DOMtastic instance ?"

<code>
const sortables = $( '.my-sortable' );
sortables.Sortable( options );
</code>

or

<code>
$( '#myContent' ).find( '.my-sortable' ).Sortable( options );
</code>

Regards

[2017-11-05 20:13] webpro commented on #68
I think you are mixing up the concepts of extending `$.fn` and `$.baseClass`. You should use one or the other to build a component or plugin.

Please read https://medium.com/@webprolific/domtastic-s-baseclass-437f142e8bf4 for more details.

[2017-11-06 05:54] Wikiki commented on #68
Thanks for your answer.
But let's take an example, please :

[code]

Is there a way to write this with the Draggable class extending <code>BaseClass</code> ?

[2017-11-06 09:53] webpro commented on #68
Well, that looks unnecessary complicated in the first place. But I don't have any context.

Where are you stuck? Is the code above working? What happens if you actually try `class Draggable extends $.BaseClass`?

[2017-11-06 10:14] Wikiki commented on #68
Hi,

the code above is working but if I try <code>class Draggable extends $.BaseClass</code> I have to instantiate the class using a selector instead of working an existing DOMtastic instance.

[2017-11-09 21:04] webpro commented on #68
The `element` in `new Draggable(element, options)` also accepts a DOMtastic instance.

If you change `return $.each(this` into `return this.each(` in your code (and have `Draggable` extend from `$.BaseClass`) then you can do e.g. `$('.items').draggable()`.

[2017-11-10 07:36] Wikiki commented on #68
I'll try this.

[2017-11-10 16:05] Wikiki commented on #68
It ok with this syntax. thanks

[2017-11-18 17:13] magicspon commented on #69
Hello,

I'm getting this error in 0.15.3
![image](https://user-images.githubusercontent.com/3268717/32982910-b289fc60-cc83-11e7-82cc-274b5b6429b4.png)

any thoughts?

[2017-11-18 21:54] webpro commented on #69
I think I've fixed this in [v0.15.4](https://github.com/webpro/DOMtastic/releases/tag/0.15.4).

[2017-11-18 21:55] webpro commented on #88
I think I've fixed this in [v0.15.4](https://github.com/webpro/DOMtastic/releases/tag/0.15.4).

[2017-11-18 21:55] #88 closed

[2017-11-20 08:17] medialwerk commented on #88
Thank you very much!

[2017-11-23 07:09] nickngqs opened #96 "$.data doesn't work when hyphen is used"
This will not work
[code]
[code]

This will work
[code]
[code]

I think animal-type should work since we see alot of hyphens in HTML documents and is in the spec as well

[2017-12-03 21:40] #96 closed

[2017-12-04 08:45] webpro commented on #96
Thanks @nickngqs, you're absolutely right. This has been fixed and [released as v0.15.5](https://github.com/webpro/DOMtastic/releases/tag/0.15.5).

[2018-01-06 19:22] magicspon opened #108 "Uncaught TypeError: when extending base class."
Hello,
Using the latest version:

[code]

error:

`app.js?716f:15 Uncaught TypeError: Super expression must either be null or a function, not undefined`

stack:
[code]

any thoughts?

[2018-01-06 19:53] webpro commented on #108
Can't reproduce your issue. This works as intended:

[code]

Are you transpiling the `class` syntax?

[2018-01-06 20:59] magicspon commented on #108
Yup, using babel and webpack

src here https://github.com/magicspon/spon-ui

[2018-01-06 22:05] magicspon commented on #108
BaseClass appears to be undefined...

If I use $.BaseClass I get a different error:
`Class constructor BaseClass cannot be invoked without 'new'`

very strange!

[code]

[2018-01-07 22:10] webpro commented on #108
The `BaseClass` is a property of `$`, according to the specs I don't think it's even "valid" to import it like this (as it isn't exported as such). I think that's why you're getting an `undefined` with this:

[code]

Then, the error might come from the fact that DOMtastic is already transpiled. Maybe another transpilation step you are using breaks something. Perhaps you can try to either use the u

[2018-04-13 07:36] webpro commented on #108
Closing this due to inactivity.

[2018-04-13 07:36] #108 closed

[2018-04-26 10:48] nickngqs opened #126 ".eq() doesn't work on extended class"
Just curious if this is intended behavior

Say i wish to extend a new Component using the $.BaseClass

[code]

[2019-01-09 11:57] maximzasorin opened #169 "Setting CSS property with important priority"
Hello, is there any way to set CSS property with important priority?

[2019-01-09 12:19] webpro commented on #169
Hi @maximzasorin, unfortunately there isn't.

Maybe you like to contribute and make it happen in DOMtastic?

[2019-03-17 12:47] #169 closed